*{
    box-sizing: border-box;
    
   /* border: 1px solid red;  */
}

html,body{
    margin: 0;
    /* overflow: hidden; */
    /* position: relative; */
    height: 100%;
    width: 100%;
}
#body{
    /* position: relative; */
    /* border: 1px solid red; */
    background-color: #d7dbdd;
    display: flex;
    flex-flow:column;
    height: 100%;
    width: 100%;
}

nav{
    position: relative;
    height: 4rem;
    background-color: #00b19d;
    /* border: 1px solid red; */
    width: 100%;
   
}
#main{ 
    position: relative;
    
    display: flex;
    flex-direction: row;
    height: 94vh;
    width: 100%;
    /* border: 1px solid red */
}
main{

    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 100%;
    
}


#search{
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    /* margin: 2% ; */
    height: 3rem;
    width: 100%;
    /* border: 1px solid red; */
}
#lupita{
    position: relative;
   text-align: center;
   line-height: 4rem;
    width: 3rem;
    height: 3rem;
    background-color: #039786;
    border-radius: 0.2rem ;
    /* border: 1px solid red; */
    color: aliceblue;
}
#lupita:hover{
    background-color: #69c9be;
}
#lupita:active{
    background-color: #90d6ce;
}
#input{
    position: relative;
    border: 1px solid #00b19d;
    border-radius: 0.2rem;
    height: 3rem;
    width: 40%; 
    color: #979797;
    font-size: larger;
    /* border: 1px solid red; */
}
#butonew{
    position: relative;
    margin-left: 5px;
    height: 3rem;
    width: 8%; 
    color: #00b19d;
    line-height: 3.5vh;
    /* border: 1px solid red; */
    font-size: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#butonew:hover{
    text-shadow: 1px 1px 1px #2d4e45;
    color: #30d8a6;
}
#butonew:active{
    background-color: #69c9be;
}
#articles{
    position: relative;
    overflow-y: scroll;
    display: flex;   
    flex-wrap: wrap;
    margin: 1rem;
    height: 100%;
    width: 95%;
    justify-content: center;
    /* border: 1px solid red; */
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
    
}
#article{
    position: relative;
    background-color: white;
    display: flex;
    flex-flow:column ;
    
     margin: 1rem;
    /* margin-right: 4rem; */
    /* margin-left: 4vh;  */
    height: 20rem;
    width: 15rem;
    -webkit-box-shadow: 1px 1px 3px 1px #356e6e;
    box-shadow: 1px 1px 3px 1px #1e4e44;
    transition: ease-in-out 200ms;
}
#article:hover{

    transform: scale(1.05);
}

#index{
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 4rem;
    position: relative;
    background-color: rgb(255, 255, 255);
   

}
#circulo{
    margin: 0.5rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5vw;
    color: ivory;
    border-radius: 3rem;
    background-color: rgb(57, 209, 163);
}
#car{
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 0.4   ;
    height: 100%;
    background-color: white ;
    
}
#tiside{
    /* margin: 1%; */
    height: 4rem;
    width: 100%;
    text-align: center;
    line-height: 4vh;
    color: white;
    background-color: rgb(143, 175, 218);
}
footer{
    display: flex;
    flex-flow: column;
    position: absolute;  
    bottom: 0;
    background-color: #f5f5f5;
    width: 100% ;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(199, 180, 11); */

    
}

#sale{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    color: white;
    
    text-align:justify;
   
    background-color: rgb(53, 185, 146);
    width: 100%;
    border-radius: 3px;
    }
#buttonsale{



}
#buttonsale:hover{
    transform: scale(1.01);
    background-color:rgb(56, 196, 142) ;
}
#buttonsale:active{
    background-color: rgb(93, 211, 162);
    transform: scale(0.99);
}




#circulo:hover{

transform: scale(1.1);
background-color: lightgreen;

}
#circulo:active{
    transform: scale(0.99);
    background-color: rgb(197, 241, 197);
}
#cancel{
    display: flex;
    flex-flow: row;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    color: white;
   width: 100%;
    line-height: 5vh;
  
   
    background-color: rgb(108, 167, 223);

}
#cancel span{
   
    /* border: 1px solid red; */
    width: 5%;
    font-size: 50%;
}
.carticles{
    margin: 2px;
    height: 7vh;
    text-align:justify;
    width: 35vw;
    background-color:rgba(143, 197, 175, 0.548) ;

}
.carticles:hover{
    transform: scale(1.05);
}

@media (max-width: 400px) {
    #index{
        display: none;
    }
    #car{
        display: none;
    }
    
}